
.identity{
    font-size: 30px;
	right: 0;
	margin-left: 300px;
    position: fixed;
    top: 0;
}
/*background*/
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 5%;
	text-align: center;
}

/*Overall location layout*/
.navigation{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
}
/*main list position*/
.navigation ul{
    position:relative;
}
/*member of main list position*/
.navigation ul li{
    text-align:center;
    list-style: none;
}
 /*main list member design*/
.navigation ul li a{
    color: #333;
    text-decoration:none;
    font-size:5em;
    padding:5px 20px;
    display:inline-flex;
    font-weight:700;
    transition:0.5s;
}
/*hover design*/
.navigation ul:hover li a {
    color:#0002;
}
.navigation ul:hover li:hover a{
    color:#000;
    background-color:#ff0;
}
.navigation ul:hover li a:before{
    height: 500vh;
    content:"";
    position:absolute;
    top:0%;
    left:50%;
    display:flex;
    transform:translate(-50%,-50%);
    justify-content:center;
    align-items:center;
    font-size:3em;
    color:rgba(0,0,0,0.1);
    z-index: -1;
    opacity:0;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:500px;
    transition:letter-spacing 1s,top 0.5s;
}
.navigation ul li a:hover:before{
    content:attr(data-text);
    opacity:1;
    top:50%;
    letter-spacing: 25px;
    width: 140vw;

}
.navigation ul li:nth-child(5n+1) a:before{
    background-color: #dc3a29;
}
.navigation ul li:nth-child(5n+2) a:before{
    background-color: #c77012;
}
.navigation ul li:nth-child(5n+3) a:before{
    background-color: #31ba28;
}
.navigation ul li:nth-child(5n+4) a:before{
    background-color: #4cbb98
}
.navigation ul li:nth-child(5n+5) a:before{
    background-color: #2939a5;
}

#rank{width: 1000px;
    height: 100px;
    background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
    font-size: 100px; }
@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}
#user{
    font-size: 20px;
	margin-right: 300px;
	margin-left: 300px;
    line-height: 20px;
}
#back{
    position: absolute;
    top: 20px;
    right: 20px;
    width:110px;
    height:50px;
    font-size: 40px;
}


.listR li{
    font-size: 30px;
    margin-top: 40px;
    margin-right: 100px;
    margin-bottom: 20px;
}

/*reference:https://blog.csdn.net/qq_43413916/article/details/103753315*/

