<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/help.css">
</head>
<body>
<div class="container" align="center">

    <form action="/login" method="post">
    <div class="row">
       <h1 class="heading" align="center">HELP</h1>

        <div class="form">
<!--game rules-->
            <div class="header">
                <p>Game play rules:</p>
            </div>

            <div class="instruction">
                <p>In single player mode, players have to navigate the maze in a given number of steps, and their scores are ranked first by the number of steps and then by time. Use up, down, left and right to control player movement</p>
                <p>In two-player mode, each player takes turns walking each turn, and each turn has a maximum number of steps (7) as well as a time limit. The first player out of the maze wins and wins two out of three games.Use up, down, left and right to control player1 movement.Use W, S, A and D to control player2 movement</p>
            </div>


<!--Additional function-->
        <div >
            <li><a href="/main_page">Back to main page</a></li><br>

        </div>
    </div>



    </div>
    </form>

</div>
</body>
</html>